$headerLinks-SectionHeaders-Color: #000000;

$textInImg-FontWeight: 700;
$textInImg-FontSize: 20px;
$textInImg-LineHeight: 23.44px;
$textInImg-Color: #ffffff;

$section1Article-divBackgroundColor: #ffffff;
$section1Article-divTextColor: #8a8787;
